<html>
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
		<script src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js' type='text/javascript'></script>
	</head>
	<body>
	<!-- HTML to handle creating the HIT form -->
		<form name='mturk_form' method='post' id='mturk_form' action='https://workersandbox.mturk.com/mturk/externalSubmit'>
		<input type='hidden' value='' name='assignmentId' id='assignmentId'/>
		<!-- This is where you define your question(s) --> 
		<h1>Open <a href="{{ url }}">this receipt</a> in a new tab and enter the values in the field below</h1>
		<h1>Who is the vendor (name of the company) on the receipt?</h1>
		<p><textarea name='answer' rows=3 cols=80></textarea></p>
		<h1>What is the date of the transaction?</h1>
		<p><textarea name='answer' rows=3 cols=80></textarea></p>
		<h1>What is the total amount of the transaction?</h1>
		<p><textarea name='answer' rows=3 cols=80></textarea></p>
		<h1>What was the method of payment for this transaction?</h1>
		<select name="Method of Payment">
		  <option value="Amex">Amex ending in 1006</option>
		  <option value="MasterCard">MC ending in 1726</option>
		  <option value="Cash">Cash</option>
		  <option value="Other">Other/Unknown</option>
		</select>
		<h1>What is the expense class? (This will be handwritten on the top of the reciept or highlighted.)</h1>
		<select name="Class">
		  <option value="2013 E. Mallon">2013 E. Mallon</option>
		  <option value="45 Acres">45 Acres</option>
		  <option value="Fernan 20 Acres">Fernan 20 Acres</option>
		  <option value="AMA">Other/Unknown</option>
		</select>
		<!-- HTML to handle submitting the HIT -->
		<p><input type='submit' id='submitButton' value='Submit' /></p></form>
		<script language='Javascript'>turkSetAssignmentID();</script>
	</body>
</html>